language: python
matrix:
  include:
  - python: 3.5
  - python: 3.6
  - python: 3.6
    arch: arm64
  - python: 3.7
  - python: 3.7
    arch: arm64
  - python: 3.8
  - python: 3.8
    arch: arm64
  - python: 3.9
  - python: 3.10-dev
  - python: pypy3
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
script:
  - pytest
